
$fontName: 'Conv_Epilogue';

// colors

$BgBlue: #28293E;
$BgMain: #FDF0E9;
$BgWhite: #fff;
$txtWhite: #fff;
$borderWhite: #fff;
$filterArrowColor: #EF6D58;
$filterBorderColor: #F3D1BF;
$filterFontColor: #391400;
$filterSelectedFontColor: #16CD53;
$borderOutlineColor: #4FE24A;
$loaderBgColor: #4FE24A;
